<main class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui message main">
                <h1 class="ui header"><% title %></h1>
Version: <% distribution.meta.version %><br>
Status: <% distribution.cm_status %><br>
Last updated: <% distribution.cm_update %><br>
            </div>

            <% INCLUDE 'incl/events_of_distribution.tt' %>

        </div>
    </div>

</main>




