<main class="ui page grid">
    <div class="row">
        <div class="column">
            <div class="ui message main">
                <h1 class="ui header"><% title %></h1>
Status: <% distribution.cm_status %>
Last updated: <% distribution.cm_update %>
<a href="http://pear.php.net/package/<% distribution.meta.distribution %>/download/<% distribution.meta.version %>/">On PyPi</a>
            </div>
        </div>
    </div>

</main>

